This is a simple utility notebook to update the games.csv file with the latest data from NBA.com. You want to run this notebook before backfilling the data to Hopsworks.ai for the first time.

In [1]:
import os

import pandas as pd

from datetime import datetime, timedelta
from pytz import timezone

# change working directory to project root when running from notebooks folder to make it easier to import modules
# and to access sibling folders
os.chdir('..') 

from src.webscraping import (
    activate_web_driver,
    scrape_to_dataframe,
    convert_columns,
    combine_home_visitor,  
)

from pathlib import Path  #for Windows/Linux compatibility
DATAPATH = Path(r'data')

In [2]:
WEBSCRAPER = 'SELENIUM'  # choose between 'SCRAPINGANT' and 'SELENIUM'

**Determine How current is the existing data**

In [3]:
games_old = pd.read_csv(DATAPATH / "games.csv")

# Find the last date and season in the current dataset

games_old["GAME_DATE_EST"] = pd.to_datetime(games_old["GAME_DATE_EST"])
last_date = games_old["GAME_DATE_EST"].max()
last_season = int(games_old["SEASON"].max())

# Determine the date of the next day to begin scraping from
start_date = last_date + timedelta(days=1)

# determine what season we are in currently
today = datetime.now(timezone('EST')) #nba.com uses US Eastern Standard Time
if today.month >= 10:
    current_season = today.year
else:
    current_season = today.year - 1

# determine which seasons we need to scrape to catch up the data
seasons = list(range(last_season, current_season+1))


print("Last date in dataset: ", last_date)
print("Last season in dataset: ", last_season)
print("Current season: ", current_season)
print("Seasons to scrape: ", seasons)
print("Start date: ", start_date)

# if the last date in the dataset is today, then we don't need to scrape any new data
if start_date > datetime.now():
    print("No new data to scrape")
    exit()

Last date in dataset:  2022-03-12 00:00:00
Last season in dataset:  2021
Current season:  2023
Seasons to scrape:  [2021, 2022, 2023]
Start date:  2022-03-13 00:00:00

**Activate Webdriver**

In [4]:

# if scrapingant is chosen then set the api key, otherwise load the selenium webdriver
if WEBSCRAPER == 'SCRAPINGANT':
    try:
        SCRAPINGANT_API_KEY = os.environ['SCRAPINGANT_API_KEY']
    except:
        raise Exception('Set environment variable SCRAPINGANT_API_KEY')
    driver = None
    
elif WEBSCRAPER == 'SELENIUM':
    driver = activate_web_driver('chromium')
    SCRAPINGANT_API_KEY = ""

**Scrape New Completed Games and Format Them**

In [5]:
def update_games(driver, season, start_date, end_date)-> pd.DataFrame:

    season_types = ["Regular+Season", "PlayIn", "Playoffs"]
      
    all_season_types = pd.DataFrame()

    for season_type in season_types:
        
        df = scrape_to_dataframe(api_key=SCRAPINGANT_API_KEY, driver=driver, Season=season, DateFrom=start_date, DateTo=end_date, season_type=season_type)

        if not(df.empty):
            df = convert_columns(df)
            df = combine_home_visitor(df)
            all_season_types = pd.concat([all_season_types, df], axis=0)


    return all_season_types

In [6]:
new_games = pd.DataFrame()
df_season = pd.DataFrame()

for season in seasons:
    end_date = datetime.strptime(f"{season+1}-08-01", "%Y-%m-%d") # use August 1st to get all games from the current season
    print(f"Scraping season {season} from {start_date} to {end_date}")
    df_season = update_games(driver, str(season), str(start_date), str(end_date))
    new_games = pd.concat([new_games, df_season], axis=0)
    start_date = datetime.strptime(f"{season+1}-10-01", "%Y-%m-%d") # if more than 1 season, reset start date to beginning of next season


new_games

Scraping season 2021 from 2022-03-13 00:00:00 to 2022-08-01 00:00:00
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2021&DateFrom=2022-03-13 00:00:00&DateTo=2022-08-01 00:00:00
0      1610612754
1      1610612748
2      1610612761
3      1610612752
4      1610612743
          ...
435    1610612755
436    1610612740
437    1610612745
438    1610612737
439    1610612754
Length: 440, dtype: object
HOME_TEAM_ID 0      1610612752
1      1610612743
2      1610612742
3      1610612750
4      1610612739
          ...
215    1610612738
216    1610612756
217    1610612753
218    1610612740
219    1610612737
Name: HOME_TEAM_ID, Length: 220, dtype: object
GAME_ID 0      0022101226
1      0022101220
2      0022101219
3      0022101224
4      0022101218
          ...
215    0022101014
216    0022101019
217    0022101015
218    0022101017
219    0022101016
Name: GAME_ID, Length: 220, dtype: object
VISITOR_TEAM_ID 0      1610612761
1      1610612747
2      1610612759
3      1610612741
4      1610612749
          ...
215    1610612742
216    1610612747
217    1610612755
218    1610612745
219    1610612754
Name: VISITOR_TEAM_ID, Length: 220, dtype: object
SEASON 0      2021
1      2021
2      2021
3      2021
4      2021
       ...
215    2021
216    2021
217    2021
218    2021
219    2021
Name: SEASON, Length: 220, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=PlayIn&Season=2021&DateFrom=2022-03-13 00:00:00&DateTo=2022-08-01 00:00:00
0     1610612746
1     1610612740
2     1610612737
3     1610612739
4     1610612737
5     1610612766
6     1610612759
7     1610612740
8     1610612751
9     1610612739
10    1610612746
11    1610612750
dtype: object
HOME_TEAM_ID 0    1610612746
1    1610612739
2    1610612737
3    1610612740
4    1610612751
5    1610612750
Name: HOME_TEAM_ID, dtype: object
GAME_ID 0    0052100211
1    0052100201
2    0052100111
3    0052100131
4    0052100101
5    0052100121
Name: GAME_ID, dtype: object
VISITOR_TEAM_ID 0    1610612740
1    1610612737
2    1610612766
3    1610612759
4    1610612739
5    1610612746
Name: VISITOR_TEAM_ID, dtype: object
SEASON 0    2021
1    2021
2    2021
3    2021
4    2021
5    2021
Name: SEASON, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Playoffs&Season=2021&DateFrom=2022-03-13 00:00:00&DateTo=2022-08-01 00:00:00
0      1610612744
1      1610612738
2      1610612738
3      1610612744
4      1610612744
          ...
169    1610612755
170    1610612750
171    1610612763
172    1610612762
173    1610612742
Length: 174, dtype: object
HOME_TEAM_ID 0     1610612738
1     1610612744
2     1610612738
3     1610612738
4     1610612744
         ...
82    1610612738
83    1610612744
84    1610612755
85    1610612763
86    1610612742
Name: HOME_TEAM_ID, Length: 87, dtype: object
GAME_ID 0     0042100406
1     0042100405
2     0042100404
3     0042100403
4     0042100402
         ...
82    0042100111
83    0042100161
84    0042100131
85    0042100151
86    0042100171
Name: GAME_ID, Length: 87, dtype: object
VISITOR_TEAM_ID 0     1610612744
1     1610612738
2     1610612744
3     1610612744
4     1610612738
         ...
82    1610612751
83    1610612743
84    1610612761
85    1610612750
86    1610612762
Name: VISITOR_TEAM_ID, Length: 87, dtype: object
SEASON 0     2021
1     2021
2     2021
3     2021
4     2021
      ...
82    2021
83    2021
84    2021
85    2021
86    2021
Name: SEASON, Length: 87, dtype: object
Scraping season 2022 from 2022-10-01 00:00:00 to 2023-08-01 00:00:00
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2022&DateFrom=2022-10-01 00:00:00&DateTo=2023-08-01 00:00:00
0       1610612749
1       1610612766
2       1610612739
3       1610612753
4       1610612748
           ...
2455    1610612765
2456    1610612747
2457    1610612738
2458    1610612755
2459    1610612744
Length: 2460, dtype: object
HOME_TEAM_ID 0       1610612739
1       1610612748
2       1610612761
3       1610612747
4       1610612756
           ...
1225    1610612754
1226    1610612763
1227    1610612765
1228    1610612738
1229    1610612744
Name: HOME_TEAM_ID, Length: 1230, dtype: object
GAME_ID 0       0022201218
1       0022201219
2       0022201221
3       0022201228
4       0022201229
           ...
1225    0022200004
1226    0022200009
1227    0022200003
1228    0022200001
1229    0022200002
Name: GAME_ID, Length: 1230, dtype: object
VISITOR_TEAM_ID 0       1610612766
1       1610612753
2       1610612749
3       1610612762
4       1610612746
           ...
1225    1610612764
1226    1610612752
1227    1610612753
1228    1610612755
1229    1610612747
Name: VISITOR_TEAM_ID, Length: 1230, dtype: object
SEASON 0       2022
1       2022
2       2022
3       2022
4       2022
        ...
1225    2022
1226    2022
1227    2022
1228    2022
1229    2022
Name: SEASON, Length: 1230, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=PlayIn&Season=2022&DateFrom=2022-10-01 00:00:00&DateTo=2023-08-01 00:00:00
0     1610612748
1     1610612741
2     1610612750
3     1610612760
4     1610612741
5     1610612761
6     1610612740
7     1610612760
8     1610612747
9     1610612750
10    1610612748
11    1610612737
dtype: object
HOME_TEAM_ID 0    1610612748
1    1610612750
2    1610612761
3    1610612740
4    1610612747
5    1610612748
Name: HOME_TEAM_ID, dtype: object
GAME_ID 0    0052200201
1    0052200211
2    0052200111
3    0052200131
4    0052200121
5    0052200101
Name: GAME_ID, dtype: object
VISITOR_TEAM_ID 0    1610612741
1    1610612760
2    1610612741
3    1610612760
4    1610612750
5    1610612737
Name: VISITOR_TEAM_ID, dtype: object
SEASON 0    2022
1    2022
2    2022
3    2022
4    2022
5    2022
Name: SEASON, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Playoffs&Season=2022&DateFrom=2022-10-01 00:00:00&DateTo=2023-08-01 00:00:00
0      1610612743
1      1610612748
2      1610612743
3      1610612748
4      1610612748
          ...
163    1610612755
164    1610612739
165    1610612752
166    1610612744
167    1610612758
Length: 168, dtype: object
HOME_TEAM_ID 0     1610612743
1     1610612748
2     1610612748
3     1610612743
4     1610612743
         ...
79    1610612756
80    1610612738
81    1610612755
82    1610612739
83    1610612758
Name: HOME_TEAM_ID, Length: 84, dtype: object
GAME_ID 0     0042200405
1     0042200404
2     0042200403
3     0042200402
4     0042200401
         ...
79    0042200171
80    0042200111
81    0042200121
82    0042200131
83    0042200161
Name: GAME_ID, Length: 84, dtype: object
VISITOR_TEAM_ID 0     1610612748
1     1610612743
2     1610612743
3     1610612748
4     1610612748
         ...
79    1610612746
80    1610612737
81    1610612751
82    1610612752
83    1610612744
Name: VISITOR_TEAM_ID, Length: 84, dtype: object
SEASON 0     2022
1     2022
2     2022
3     2022
4     2022
      ...
79    2022
80    2022
81    2022
82    2022
83    2022
Name: SEASON, Length: 84, dtype: object
Scraping season 2023 from 2023-10-01 00:00:00 to 2024-08-01 00:00:00
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2023&DateFrom=2023-10-01 00:00:00&DateTo=2024-08-01 00:00:00
0       1610612755
1       1610612766
2       1610612739
3       1610612751
4       1610612764
           ...
2455    1610612746
2456    1610612744
2457    1610612756
2458    1610612743
2459    1610612747
Length: 2460, dtype: object
FT_PCT_home 0       73.3
1       66.7
2       66.7
3       80.0
4       89.5
        ...
1225    72.7
1226    88.5
1227    81.3
1228    78.6
1229    75.0
Name: FT_PCT_home, Length: 1230, dtype: object
HOME_TEAM_ID 0       1610612755
1       1610612739
2       1610612738
3       1610612754
4       1610612748
           ...
1225    1610612759
1226    1610612753
1227    1610612746
1228    1610612744
1229    1610612743
Name: HOME_TEAM_ID, Length: 1230, dtype: object
GAME_ID 0       0022301192
1       0022301187
2       0022301186
3       0022301188
4       0022301189
           ...
1225    0022300073
1226    0022300066
1227    0022300074
1228    0022300062
1229    0022300061
Name: GAME_ID, Length: 1230, dtype: object
FT_PCT_away 0       76.5
1       81.8
2        100
3       92.6
4       85.7
        ...
1225    73.9
1226    62.5
1227    76.5
1228    76.5
1229    75.0
Name: FT_PCT_away, Length: 1230, dtype: object
VISITOR_TEAM_ID 0       1610612751
1       1610612766
2       1610612764
3       1610612737
4       1610612761
           ...
1225    1610612742
1226    1610612745
1227    1610612757
1228    1610612756
1229    1610612747
Name: VISITOR_TEAM_ID, Length: 1230, dtype: object
SEASON 0       2023
1       2023
2       2023
3       2023
4       2023
        ...
1225    2023
1226    2023
1227    2023
1228    2023
1229    2023
Name: SEASON, Length: 1230, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=PlayIn&Season=2023&DateFrom=2023-10-01 00:00:00&DateTo=2024-08-01 00:00:00
0     1610612748
1     1610612741
2     1610612758
3     1610612740
4     1610612755
5     1610612748
6     1610612741
7     1610612737
8     1610612747
9     1610612740
10    1610612744
11    1610612758
dtype: object
HOME_TEAM_ID 0    1610612748
1    1610612740
2    1610612755
3    1610612741
4    1610612740
5    1610612758
Name: HOME_TEAM_ID, dtype: object
GAME_ID 0    0052300201
1    0052300211
2    0052300101
3    0052300111
4    0052300121
5    0052300131
Name: GAME_ID, dtype: object
VISITOR_TEAM_ID 0    1610612741
1    1610612758
2    1610612748
3    1610612737
4    1610612747
5    1610612744
Name: VISITOR_TEAM_ID, dtype: object
SEASON 0    2023
1    2023
2    2023
3    2023
4    2023
5    2023
Name: SEASON, dtype: object
Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Playoffs&Season=2023&DateFrom=2023-10-01 00:00:00&DateTo=2024-08-01 00:00:00
0     1610612760
1     1610612740
2     1610612743
3     1610612747
4     1610612748
5     1610612738
6     1610612739
7     1610612753
8     1610612756
9     1610612750
10    1610612742
11    1610612746
12    1610612749
13    1610612754
14    1610612747
15    1610612743
16    1610612752
17    1610612755
18    1610612753
19    1610612739
20    1610612740
21    1610612760
22    1610612738
23    1610612748
24    1610612746
25    1610612742
26    1610612749
27    1610612754
28    1610612750
29    1610612756
30    1610612747
31    1610612743
32    1610612752
33    1610612755
34    1610612739
35    1610612753
36    1610612740
37    1610612760
38    1610612754
39    1610612749
40    1610612742
41    1610612746
42    1610612748
43    1610612738
44    1610612747
45    1610612743
46    1610612755
47    1610612752
48    1610612750
49    1610612756
50    1610612739
51    1610612753
dtype: object
HOME_TEAM_ID 0     1610612740
1     1610612747
2     1610612748
3     1610612753
4     1610612756
5     1610612742
6     1610612754
7     1610612747
8     1610612755
9     1610612753
10    1610612760
11    1610612738
12    1610612746
13    1610612749
14    1610612750
15    1610612743
16    1610612752
17    1610612739
18    1610612760
19    1610612749
20    1610612746
21    1610612738
22    1610612743
23    1610612752
24    1610612750
25    1610612739
Name: HOME_TEAM_ID, dtype: object
GAME_ID 0     0042300143
1     0042300154
2     0042300103
3     0042300134
4     0042300163
5     0042300173
6     0042300123
7     0042300153
8     0042300113
9     0042300133
10    0042300142
11    0042300102
12    0042300172
13    0042300122
14    0042300162
15    0042300152
16    0042300112
17    0042300132
18    0042300141
19    0042300121
20    0042300171
21    0042300101
22    0042300151
23    0042300111
24    0042300161
25    0042300131
Name: GAME_ID, dtype: object
VISITOR_TEAM_ID 0     1610612760
1     1610612743
2     1610612738
3     1610612739
4     1610612750
5     1610612746
6     1610612749
7     1610612743
8     1610612752
9     1610612739
10    1610612740
11    1610612748
12    1610612742
13    1610612754
14    1610612756
15    1610612747
16    1610612755
17    1610612753
18    1610612740
19    1610612754
20    1610612742
21    1610612748
22    1610612747
23    1610612755
24    1610612756
25    1610612753
Name: VISITOR_TEAM_ID, dtype: object
SEASON 0     2023
1     2023
2     2023
3     2023
4     2023
5     2023
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
12    2023
13    2023
14    2023
15    2023
16    2023
17    2023
18    2023
19    2023
20    2023
21    2023
22    2023
23    2023
24    2023
25    2023
Name: SEASON, dtype: object

,GAME_DATE_EST,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FG3_PCT_home,FT_PCT_home,REB_home,AST_home,HOME_TEAM_ID,GAME_ID,PTS_away,FG_PCT_away,FG3_PCT_away,FT_PCT_away,REB_away,AST_away,VISITOR_TEAM_ID,SEASON
0,2022-04-10,1,105,46.0,34.9,83.3,48,32,1.610613e+09,22101226.0,94,39.1,28.6,90.9,43,27,1.610613e+09,2021.0
1,2022-04-10,0,141,49.0,31.9,77.8,45,33,1.610613e+09,22101220.0,146,46.8,37.2,89.4,50,26,1.610613e+09,2021.0
2,2022-04-10,1,130,54.1,55.6,78.3,43,34,1.610613e+09,22101219.0,120,48.3,35.5,100.0,35,26,1.610613e+09,2021.0
3,2022-04-10,0,120,50.5,35.5,77.3,32,30,1.610613e+09,22101224.0,124,53.0,47.6,78.8,48,22,1.610613e+09,2021.0
4,2022-04-10,1,133,54.3,50.0,70.6,48,39,1.610613e+09,22101218.0,115,44.3,40.0,78.1,41,27,1.610613e+09,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2024-04-21,1,114,47.6,44.9,87.5,44,27,1.610613e+09,42300101.0,94,46.9,32.4,100.0,34,23,1.610613e+09,2023.0
22,2024-04-20,1,114,46.1,35.7,83.3,49,27,1.610613e+09,42300151.0,103,49.4,27.6,89.5,40,22,1.610613e+09,2023.0
23,2024-04-20,1,111,39.6,45.7,82.1,55,20,1.610613e+09,42300111.0,104,44.4,34.3,90.9,33,17,1.610613e+09,2023.0
24,2024-04-20,1,120,50.0,37.5,90.9,52,26,1.610613e+09,42300161.0,95,44.0,32.1,80.0,28,16,1.610613e+09,2023.0
25,2024-04-20,1,97,44.4,26.7,81.0,54,21,1.610613e+09,42300131.0,83,32.6,21.6,63.3,40,16,1.610613e+09,2023.0

**Close Webdriver**

In [7]:
if WEBSCRAPER == 'SELENIUM':
    driver.close()

**Append to Games.csv**

In [8]:
games = pd.concat([games_old, new_games], axis=0)

games.to_csv(DATAPATH / "games.csv", index=False)

games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005.0,Final,1.610613e+09,1.610613e+09,2021.0,1.610613e+09,104.0,0.398,0.760,...,23.0,53.0,1.610613e+09,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006.0,Final,1.610613e+09,1.610613e+09,2021.0,1.610613e+09,101.0,0.443,0.933,...,20.0,46.0,1.610613e+09,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007.0,Final,1.610613e+09,1.610613e+09,2021.0,1.610613e+09,108.0,0.412,0.813,...,28.0,52.0,1.610613e+09,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008.0,Final,1.610613e+09,1.610613e+09,2021.0,1.610613e+09,122.0,0.484,0.933,...,33.0,55.0,1.610613e+09,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009.0,Final,1.610613e+09,1.610613e+09,2021.0,1.610613e+09,115.0,0.551,0.750,...,32.0,39.0,1.610613e+09,127.0,0.471,0.760,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2024-04-21,42300101.0,NaN,1.610613e+09,1.610613e+09,2023.0,NaN,114.0,47.600,87.500,...,27.0,44.0,NaN,94.0,46.900,100.000,32.400,23.0,34.0,1
22,2024-04-20,42300151.0,NaN,1.610613e+09,1.610613e+09,2023.0,NaN,114.0,46.100,83.300,...,27.0,49.0,NaN,103.0,49.400,89.500,27.600,22.0,40.0,1
23,2024-04-20,42300111.0,NaN,1.610613e+09,1.610613e+09,2023.0,NaN,111.0,39.600,82.100,...,20.0,55.0,NaN,104.0,44.400,90.900,34.300,17.0,33.0,1
24,2024-04-20,42300161.0,NaN,1.610613e+09,1.610613e+09,2023.0,NaN,120.0,50.000,90.900,...,26.0,52.0,NaN,95.0,44.000,80.000,32.100,16.0,28.0,1
25,2024-04-20,42300131.0,NaN,1.610613e+09,1.610613e+09,2023.0,NaN,97.0,44.400,81.000,...,21.0,54.0,NaN,83.0,32.600,63.300,21.600,16.0,40.0,1